.item {
  width: 252px;
  margin: 8px;
}

.cardImg {
  position: relative;
  border-radius: 10px;
  height: 252px;
  width: 252px;
  overflow: hidden;
  cursor: pointer;
}

.cardImg img {
  height: 100%;
  width: 100%;
}

.shadow {
  position: absolute;
  height: 50px;
  width: 100%;
  background: linear-gradient(0deg, #000000db, transparent);
  bottom: 0;
}

.description {
  margin-top: 8px;
  display: grid;
  grid-template-columns: (2, 1fr);
  gap: 8px;
}

.tittle {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  text-align: left;
}

.rating {
  grid-column: 2 / 3;
  display: flex;
  justify-content: flex-end;
}
.rating span {
  margin-left: 4px;
}

.area {
  grid-column: 1 / 2;
  color: var(--outline-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
}

.age {
  color: var(--outline-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  text-align: left;
}

.price {
  grid-column: 1 / 2;
  font-weight: 500;
}

.price span {
  color: var(--primary-color);
  font-weight: 700;
}


@media screen and (max-width: 660px) {
  .item {
    width: 100%;
    max-width: 362px;
    padding: 0 8px;
  }

  .cardImg {
    width: 352px;
    height: 352px;
  }
}