.container{
  width: 100%;
  display: inline-flex;
  flex-shrink: 2;
  align-items: center;
  gap: 16px;
  margin-left: 0 auto;
  justify-content: center;
}
.wrapper {
  display: flex;
  align-items: center;
  height: 74px;
}

.tabs_box {
  /* max-width: 936px; */
  display: flex;
  align-items: center;
  gap: 30px;
  list-style: none;
  overflow-x: hidden;
  position: relative;
}

.arrow {
  height: 32px;
  width: 32px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  
  border: solid 1px #CACACA;
  background-color: #fff;
  cursor: pointer;
}

.gradient{
  position: absolute;
  right: 0;
  background: linear-gradient(90deg,transparent, #fff);
  height: 100%;
  width: 40px;
}

header {
  border-bottom: solid 1px var(--outline-color);
  width: 100%;
}


@media screen and (max-width: 660px) {
  .container {
    margin: 0 10px;
    gap: 4px;
    width: calc(100vw - 45px);
  }

  .wrapper{
    height: 60px;
    width: 100%;
    max-width: 660px;
  }
}