.tab {
  white-space: nowrap;
  cursor: pointer;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  display: flex;
  align-items: center;
  height: 42px;
  border-bottom: solid transparent;
}

.tab img {
  margin-right: 10px;
}

.active{
  border-bottom: solid;
}